body {
  background-color: #412846;
}

#content {
  margin: auto;
  width: 900px;
  height: 100%;
  padding-top : 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #a3a7ca;
  padding-top: 25px;
}

#mugShot {
  padding-top: 100px; margin : auto;
  width: 165;
  height: 200;
  margin: auto;
}

#aboutMe {
  padding-top: 30px; text-align : justify;
  width: 700px;
  margin: auto;
  text-align: justify;
}

#reachOut {
  padding-top: 30px;
  width: 500px;
  margin: auto;
}

#professionalInfo {
  width: 500px;
  margin: auto;
}

#aboutMe a, #reachOut a,  #professionalInfo a {
  color: #214551;
}

#gameName a{
  color:#CD5149;
}

.buttonColor {
  background-color: #412846;
  color: #cdd7d8;
}

.collapse-details {
  color: #cdd7d8;
  width: 450px;
  float: right;
}
